/*Mobile*/
@media screen and (min-width: 365px){







}


/*Desktop*/

@media screen and (min-width:934px) {
    h1 {
        float: left;

    }
    li {
        display: inline;
    }
    .nav-links {
        float: right;
        list-style: none;
        display: inline;
    }
    .header-img {
        position: relative;
        width:890px;
        height:385px;

    }

.alert-info,
.hidden-on-desktop {
    display: none;
}




}