/*Mobile*/
@media screen and (min-width: 365px){







}


/*Desktop*/

@media screen and (min-width:934px) {


    footer{
        position: absolute;
        bottom: 2%;
        margin: 0 5% 0 5%;
    }

    h1 {
        float: left;
        margin: 2% 5% 0 5%;

    }
    li {
        padding: 1em;
        display: inline;
    }
    .nav-links {
        float: right;
        list-style: none;
        display: inline;
    }

    .header-img img {
        float: top;
        margin: 3% 20% 3% 20%;
        width: 890px;
        height: 385px;

    }


    .main {
        float: left;
        margin: 0 5% 0 5%;
        width: 60%;
    }

    .sub-section{
        float: right;
        width: 30%;
    }

.alert-info,
.hidden-on-desktop {
    display: none;
}





}